# Introduction to Python

## Variables and Assignment

In [1]:
x = 2

In [2]:
x = 3

In [3]:
y = 5

In [5]:
z = x + y
print(z)

8

## Lists

I want a list of numbers

In [1]:
numbers = [4, 9, 2]

I want to print the second number in the list

In [3]:
print(numbers[1])

9

I want to print the length of the list

In [49]:
print len(numbers)

3

I want to print all the numbers in the list

In [50]:
for num in numbers:
    print num

4
9
2

## String

In [51]:
s = 'Hello World'

I want to convert the string to lower case

In [27]:
s.lower()

'hello, world'

Now I want them to be in upper case

In [26]:
s.upper()

'HELLO, WORLD'

I want to split the text at comma

In [4]:
s = 'Hello, World'

In [5]:
s.split(",")

['Hello', ' World']

I just want the first word after splitting

In [7]:
words = s.split(",")
print(words)

['Hello', ' World']

In [31]:
print words[0]

Hello

How about the second word?

In [32]:
print words[1]

 World

![](img/thinking.jpg)

### I can see an extra space at the begining
Let's verify

In [38]:
len(words[1])

6

In [39]:
len('World')

5

Let's fix it

In [9]:
world = words[1]

In [10]:
world.strip()

'World'

In [11]:
world = world.strip()
len(world)

5

# Introduction to Pandas

## Data Frame
What is a data frame?

2-d matrix

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("sample.csv")

In [8]:
df

      area  sales2014  profit  sales2016
0    North          5       2          1
1     East         25       8          1
2     West         15       6          1
3    South         20       5          1
4  Central         10       3          1

In [7]:
df.columns = ["area", "sales2014", "profit", "sales2016"]

In [9]:
df.dtypes

area      object
sales      int64
profit     int64
dtype: object

How many rows & columns does the dataframe have?

In [17]:
?df.shape

I want to see the top 5 rows of the dataframe

In [13]:
df.shape

(5, 3)

In [18]:
df.head

In [22]:
df1 = df.head(1)

In [23]:
df1

    area  sales  profit
0  North      5       2

I want to see the bottom 2 rows only

In [82]:
df.tail(2)

      area  sales  profit
3    South     20       5
4  Central     10       3

In [19]:
df.index

Int64Index([0, 1, 2, 3, 4], dtype='int64')

What are the column names?

In [20]:
df.columns

Index(['area', 'sales', 'profit'], dtype='object')

Show me the values of the dataframe. (exclude the column and index information)

In [21]:
df.values

array([['North', 5, 2],
       ['East', 25, 8],
       ['West', 15, 6],
       ['South', 20, 5],
       ['Central', 10, 3]], dtype=object)

Can I quickly get a sense of how the data is in the dataframe?
Information like min, max, mean etc

In [25]:
df.sales.describe()

count     5.000000
mean     15.000000
std       7.905694
min       5.000000
25%      10.000000
50%      15.000000
75%      20.000000
max      25.000000
Name: sales, dtype: float64

I want to sort the dataframe based on sales in descending order

In [10]:
df.sort_values(by=['sales2014', "profit"], ascending=False)

      area  sales2014  profit  sales2016
1     East         25       8          1
3    South         20       5          1
2     West         15       6          1
4  Central         10       3          1
0    North          5       2          1

I want to do the same, but based on profit column

In [105]:
df.sort_values(by='profit', ascending=False)

      area  sales  profit
1     East     25       8
2     West     15       6
3    South     20       5
4  Central     10       3
0    North      5       2

I want to find the area with least profit & sales

In [88]:
df.sort_values(by=['sales','profit'], ascending=True)

      area  sales  profit
0    North      5       2
4  Central     10       3
2     West     15       6
3    South     20       5
1     East     25       8

I want to view the sales alone

In [108]:
df.sales

0     5
1    25
2    15
3    20
4    10
Name: sales, dtype: int64

I want to view just sales & profit columns, not the area names

In [11]:
df.loc[2:4, ['sales2014', 'profit']]

   sales2014  profit
2         15       6
3         20       5
4         10       3

I want the third row of the dataframe

In [112]:
df.loc[2, :]

area      West
sales       15
profit       6
Name: 2, dtype: object

I want the third row, sales & profit columns

In [114]:
df.loc[2, ['sales', 'profit']]

sales     15
profit     6
Name: 2, dtype: object

I want rows between index 2 and 3, and column 2 only

In [115]:
df.iloc[2:3, 2]

2    6
Name: profit, dtype: int64