# 2. Refine the Data
 
> "Data is messy"

- **Missing** e.g. Check for missing or incomplete data
- **Quality** e.g. Check for duplicates, accuracy, unusual data
- **Parse** e.g. extract year and month from date
- **Convert** e.g. free text to coded value
- **Derive** e.g. gender from title
- **Calculate** e.g. percentages, proportion
- **Remove** e.g. remove redundant data
- **Merge** e.g. first and surname for full name
- **Aggregate** e.g. rollup by year, cluster by area
- **Filter** e.g. exclude based on location
- **Sample** e.g. extract a representative data
- **Summary** e.g. show summary stats like mean

In [60]:
# Import the two library we need, which is Pandas and Numpy
import pandas as pd
import numpy as np

In [61]:
#Read the csv file of 
df = pd.read_csv('MonthWiseMarketArrivals.csv')

In [62]:
df.head()

       market    month  year  quantity priceMin priceMax priceMod
0  ABOHAR(PB)  January  2005      2350      404      493      446
1  ABOHAR(PB)  January  2006       900      487      638      563
2  ABOHAR(PB)  January  2010       790     1283     1592     1460
3  ABOHAR(PB)  January  2011       245     3067     3750     3433
4  ABOHAR(PB)  January  2012      1035      523      686      605

In [63]:
df.tail()

          market     month   year   quantity  priceMin   priceMax  priceMod
10223  YEOLA(MS)  December   2012     207066       485       1327      1136
10224  YEOLA(MS)  December   2013     215883       472       1427      1177
10225  YEOLA(MS)  December   2014     201077       446       1654      1456
10226  YEOLA(MS)  December   2015     223315       609       1446      1126
10227        NaN       NaN  Total  783438108  647(Avg)  1213(Avg)  984(Avg)

In [64]:
df.dtypes

market      object
month       object
year        object
quantity     int64
priceMin    object
priceMax    object
priceMod    object
dtype: object

In [65]:
# Delete the last row from the dataframe
df.tail(1)

      market month   year   quantity  priceMin   priceMax  priceMod
10227    NaN   NaN  Total  783438108  647(Avg)  1213(Avg)  984(Avg)

In [66]:
# Delete a row from the dataframe
df.drop(df.tail(1).index, inplace = True)

In [67]:
df.tail()

          market     month  year  quantity priceMin priceMax priceMod
10222  YEOLA(MS)  December  2011    131326      282      612      526
10223  YEOLA(MS)  December  2012    207066      485     1327     1136
10224  YEOLA(MS)  December  2013    215883      472     1427     1177
10225  YEOLA(MS)  December  2014    201077      446     1654     1456
10226  YEOLA(MS)  December  2015    223315      609     1446     1126

In [68]:
df.dtypes

market      object
month       object
year        object
quantity     int64
priceMin    object
priceMax    object
priceMod    object
dtype: object

In [69]:
df.iloc[:,4:7].head()

  priceMin priceMax priceMod
0      404      493      446
1      487      638      563
2     1283     1592     1460
3     3067     3750     3433
4      523      686      605

In [70]:
df.iloc[:,2:7] = df.iloc[:,2:7].astype(int)

In [71]:
df.dtypes

market      object
month       object
year         int64
quantity     int64
priceMin     int64
priceMax     int64
priceMod     int64
dtype: object

In [72]:
df.head()

       market    month  year  quantity  priceMin  priceMax  priceMod
0  ABOHAR(PB)  January  2005      2350       404       493       446
1  ABOHAR(PB)  January  2006       900       487       638       563
2  ABOHAR(PB)  January  2010       790      1283      1592      1460
3  ABOHAR(PB)  January  2011       245      3067      3750      3433
4  ABOHAR(PB)  January  2012      1035       523       686       605

In [73]:
df.describe()

               year        quantity      priceMin      priceMax      priceMod
count  10227.000000    10227.000000  10227.000000  10227.000000  10227.000000
mean    2009.022294    76604.880023    646.944363   1212.760731    984.284345
std        4.372841   124408.698759    673.121850    979.658874    818.471498
min     1996.000000       20.000000     16.000000    145.000000     80.000000
25%     2006.000000     8898.000000    209.000000    557.000000    448.000000
50%     2009.000000    27460.000000    440.000000    923.000000    747.000000
75%     2013.000000    88356.500000    828.000000   1527.000000   1248.000000
max     2016.000000  1639032.000000   6000.000000   8192.000000   6400.000000

## Getting the States

In [74]:
df.market.value_counts().head()

LASALGAON(MS)     242
PIMPALGAON(MS)    224
MANMAD(MS)        218
LONAND(MS)        211
MAHUVA(GUJ)       210
Name: market, dtype: int64

In [75]:
df['state'] = df.market.str.split('(').str[-1]

In [76]:
df.head()

       market    month  year  quantity  priceMin  priceMax  priceMod state
0  ABOHAR(PB)  January  2005      2350       404       493       446   PB)
1  ABOHAR(PB)  January  2006       900       487       638       563   PB)
2  ABOHAR(PB)  January  2010       790      1283      1592      1460   PB)
3  ABOHAR(PB)  January  2011       245      3067      3750      3433   PB)
4  ABOHAR(PB)  January  2012      1035       523       686       605   PB)

In [77]:
df['city'] = df.market.str.split('(').str[0]

In [78]:
df.head()

,market,month,year,quantity,priceMin,priceMax,priceMod,state,city
0,ABOHAR(PB),January,2005,2350,404,493,446,PB),ABOHAR
1,ABOHAR(PB),January,2006,900,487,638,563,PB),ABOHAR
2,ABOHAR(PB),January,2010,790,1283,1592,1460,PB),ABOHAR
3,ABOHAR(PB),January,2011,245,3067,3750,3433,PB),ABOHAR
4,ABOHAR(PB),January,2012,1035,523,686,605,PB),ABOHAR

In [79]:
df.state.unique()

array(['PB)', 'UP)', 'GUJ)', 'MS)', 'RAJ)', 'BANGALORE', 'KNT)', 'BHOPAL',
       'OR)', 'BHR)', 'WB)', 'CHANDIGARH', 'CHENNAI', 'bellary)',
       'podisu)', 'UTT)', 'DELHI', 'MP)', 'TN)', 'Podis', 'GUWAHATI',
       'HYDERABAD', 'JAIPUR', 'WHITE)', 'JAMMU', 'HR)', 'KOLKATA', 'AP)',
       'LUCKNOW', 'MUMBAI', 'NAGPUR', 'KER)', 'PATNA', 'CHGARH)', 'JH)',
       'SHIMLA', 'SRINAGAR', 'TRIVENDRUM'], dtype=object)

In [81]:
df['state'] = df.state.str.split(')').str[0]

In [82]:
df.state.unique()

array(['PB', 'UP', 'GUJ', 'MS', 'RAJ', 'BANGALORE', 'KNT', 'BHOPAL', 'OR',
       'BHR', 'WB', 'CHANDIGARH', 'CHENNAI', 'bellary', 'podisu', 'UTT',
       'DELHI', 'MP', 'TN', 'Podis', 'GUWAHATI', 'HYDERABAD', 'JAIPUR',
       'WHITE', 'JAMMU', 'HR', 'KOLKATA', 'AP', 'LUCKNOW', 'MUMBAI',
       'NAGPUR', 'KER', 'PATNA', 'CHGARH', 'JH', 'SHIMLA', 'SRINAGAR',
       'TRIVENDRUM'], dtype=object)

In [84]:
state_now = ['PB', 'UP', 'GUJ', 'MS', 'RAJ', 'BANGALORE', 'KNT', 'BHOPAL', 'OR',
       'BHR', 'WB', 'CHANDIGARH', 'CHENNAI', 'bellary', 'podisu', 'UTT',
       'DELHI', 'MP', 'TN', 'Podis', 'GUWAHATI', 'HYDERABAD', 'JAIPUR',
       'WHITE', 'JAMMU', 'HR', 'KOLKATA', 'AP', 'LUCKNOW', 'MUMBAI',
       'NAGPUR', 'KER', 'PATNA', 'CHGARH', 'JH', 'SHIMLA', 'SRINAGAR',
       'TRIVENDRUM']

In [85]:
state_new =['PB', 'UP', 'GUJ', 'MS', 'RAJ', 'KNT', 'KNT', 'MP', 'OR',
       'BHR', 'WB', 'HR', 'TN', 'KNT', 'UTT', 'UTT',
       'DEL', 'MP', 'TN', 'UTT', 'ASM', 'AP', 'RAJ',
       'WHITE', 'JK', 'HR', 'WB', 'AP', 'UP', 'MS',
       'MS', 'KER', 'BH', 'HR', 'JH', 'HP', 'JK',
       'KEL']

In [86]:
df.state = df.state.replace(state_now, state_name)

In [87]:
df.state.unique()

array(['PB', 'UP', 'GUJ', 'MS', 'RAJ', 'KNT', 'MP', 'OR', 'BHR', 'WB',
       'HR', 'TN', 'UTT', 'DEL', 'ASM', 'AP', 'WHITE', 'JK', 'KER', 'BH',
       'JH', 'HP', 'KEL'], dtype=object)

## Getting the Dates

In [88]:
df.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            10217, 10218, 10219, 10220, 10221, 10222, 10223, 10224, 10225,
            10226],
           dtype='int64', length=10227)

In [89]:
pd.to_datetime('January 2012')

Timestamp('2012-01-01 00:00:00')

In [90]:
df['date'] = df['month'] + '-' + df['year'].map(str)

In [91]:
df.head()

,market,month,year,quantity,priceMin,priceMax,priceMod,state,city,date
0,ABOHAR(PB),January,2005,2350,404,493,446,PB,ABOHAR,January-2005
1,ABOHAR(PB),January,2006,900,487,638,563,PB,ABOHAR,January-2006
2,ABOHAR(PB),January,2010,790,1283,1592,1460,PB,ABOHAR,January-2010
3,ABOHAR(PB),January,2011,245,3067,3750,3433,PB,ABOHAR,January-2011
4,ABOHAR(PB),January,2012,1035,523,686,605,PB,ABOHAR,January-2012

In [93]:
index = pd.to_datetime(df.date)

In [94]:
df.index = pd.PeriodIndex(df.date, freq='M')

In [95]:
df.columns

Index(['market', 'month', 'year', 'quantity', 'priceMin', 'priceMax',
       'priceMod', 'state', 'city', 'date'],
      dtype='object')

In [96]:
df.index

PeriodIndex(['2005-01', '2006-01', '2010-01', '2011-01', '2012-01', '2013-01',
             '2014-01', '2015-01', '2005-02', '2006-02',
             ...
             '2006-12', '2007-12', '2008-12', '2009-12', '2010-12', '2011-12',
             '2012-12', '2013-12', '2014-12', '2015-12'],
            dtype='int64', length=10227, freq='M')

In [97]:
df.head()

,market,month,year,quantity,priceMin,priceMax,priceMod,state,city,date
2005-01,ABOHAR(PB),January,2005,2350,404,493,446,PB,ABOHAR,January-2005
2006-01,ABOHAR(PB),January,2006,900,487,638,563,PB,ABOHAR,January-2006
2010-01,ABOHAR(PB),January,2010,790,1283,1592,1460,PB,ABOHAR,January-2010
2011-01,ABOHAR(PB),January,2011,245,3067,3750,3433,PB,ABOHAR,January-2011
2012-01,ABOHAR(PB),January,2012,1035,523,686,605,PB,ABOHAR,January-2012

In [99]:
df.to_csv('MonthWiseMarketArrivals_Clean.csv', index = False)