# 2. Refine the Data
 
> "Data is messy"

- **Missing** e.g. Check for missing or incomplete data
- **Quality** e.g. Check for duplicates, accuracy, unusual data
- **Parse** e.g. extract year and month from date
- **Convert** e.g. free text to coded value
- **Derive** e.g. gender from title
- **Calculate** e.g. percentages, proportion
- **Remove** e.g. remove redundant data
- **Merge** e.g. first and surname for full name
- **Aggregate** e.g. rollup by year, cluster by area
- **Filter** e.g. exclude based on location
- **Sample** e.g. extract a representative data
- **Summary** e.g. show summary stats like mean

In [2]:
# Import the two library we need, which is Pandas and Numpy
import pandas as pd
import numpy as np

In [3]:
#Read the csv file of 
df = pd.read_csv('MonthWiseMarketArrivals.csv')

In [4]:
df.head()

,Market,Month Name,Year,Arrival (q),Price Minimum (Rs/q),Price Maximum (Rs/q),Modal Price (Rs/q)
0,ABOHAR(PB),January,2005,2350,404,493,446
1,ABOHAR(PB),January,2006,900,487,638,563
2,ABOHAR(PB),January,2010,790,1283,1592,1460
3,ABOHAR(PB),January,2011,245,3067,3750,3433
4,ABOHAR(PB),January,2012,1035,523,686,605

In [9]:
df.tail()

,Market,Month Name,Year,Arrival (q),Price Minimum (Rs/q),Price Maximum (Rs/q),Modal Price (Rs/q)
10223,YEOLA(MS),December,2012,207066,485,1327,1136
10224,YEOLA(MS),December,2013,215883,472,1427,1177
10225,YEOLA(MS),December,2014,201077,446,1654,1456
10226,YEOLA(MS),December,2015,223315,609,1446,1126
10227,NaN,NaN,Total,783438108,647(Avg),1213(Avg),984(Avg)

In [8]:
df.dtypes

Market                  object
Month Name              object
Year                    object
Arrival (q)              int64
Price Minimum (Rs/q)    object
Price Maximum (Rs/q)    object
Modal Price (Rs/q)      object
dtype: object

In [15]:
# Delete the last row from the dataframe
df.tail(1)

,Market,Month Name,Year,Arrival (q),Price Minimum (Rs/q),Price Maximum (Rs/q),Modal Price (Rs/q)
10227,NaN,NaN,Total,783438108,647(Avg),1213(Avg),984(Avg)

In [17]:
# Delete a row from the dataframe
df.drop(df.tail(1).index, inplace = True)

In [18]:
df.tail()

,Market,Month Name,Year,Arrival (q),Price Minimum (Rs/q),Price Maximum (Rs/q),Modal Price (Rs/q)
10222,YEOLA(MS),December,2011,131326,282,612,526
10223,YEOLA(MS),December,2012,207066,485,1327,1136
10224,YEOLA(MS),December,2013,215883,472,1427,1177
10225,YEOLA(MS),December,2014,201077,446,1654,1456
10226,YEOLA(MS),December,2015,223315,609,1446,1126

In [19]:
df.dtypes

Market                  object
Month Name              object
Year                    object
Arrival (q)              int64
Price Minimum (Rs/q)    object
Price Maximum (Rs/q)    object
Modal Price (Rs/q)      object
dtype: object

In [30]:
df.iloc[:,4:7]

      Price Minimum (Rs/q) Price Maximum (Rs/q) Modal Price (Rs/q)
0                      404                  493                446
1                      487                  638                563
2                     1283                 1592               1460
3                     3067                 3750               3433
4                      523                  686                605
5                     1327                 1900               1605
6                     1025                 1481               1256
7                     1309                 1858               1613
8                      286                  365                324
9                      343                  411                380
10                    1143                 1460               1322
11                     950                 1400               1125
12                     510                  650                570
13                    1400                 1843               1629
14                     831                 1163                983
15                    1200                 1946               1688
16                     281                  357                322
17                     359                  425                391
18                     510                  878                688
19                     669                 1042                855
20                     538                  675                608
21                     920                 1323               1080
22                     844                 1181                994
23                    1260                 1980               1745
24                     326                  400                366
25                     466                  755                611
26                     436                  625                553
27                     486                  709                573
28                     892                 1225               1035
29                     600                  944                772
...                    ...                  ...                ...
10197                  714                 1591               1405
10198                  320                  952                797
10199                  263                 1011                783
10200                 1334                 4857               4224
10201                  290                 1682               1293
10202                 1046                 3537               2886
10203                  160                  396                320
10204                  420                 1139                994
10205                  195                  566                457
10206                  463                  828                705
10207                  455                 1045                935
10208                  642                 1639               1407
10209                  796                 2960               2112
10210                  276                 1248                603
10211                  319                 1225                884
10212                  575                 2698               2096
10213                  444                 1632               1339
10214                 1003                 2460               1996
10215                  149                  320                276
10216                  223                  474                432
10217                  273                  656                577
10218                  250                  478                388
10219                  503                 1070                969
10220                  479                 1536               1018
10221                  541                 2713               1830
10222                  282                  612                526
10223                  485                 1327               1136
10224                  472                 1427               1177
10225                  446                 1654               1456
10226                  609                 1446               1126

[10227 rows x 3 columns]

In [39]:
df.iloc[:,2:7] = df.iloc[:,2:7].astype(int)

In [40]:
df.dtypes

Market                  object
Month Name              object
Year                     int64
Arrival (q)              int64
Price Minimum (Rs/q)     int64
Price Maximum (Rs/q)     int64
Modal Price (Rs/q)       int64
dtype: object

In [41]:
df.head()

,Market,Month Name,Year,Arrival (q),Price Minimum (Rs/q),Price Maximum (Rs/q),Modal Price (Rs/q)
0,ABOHAR(PB),January,2005,2350,404,493,446
1,ABOHAR(PB),January,2006,900,487,638,563
2,ABOHAR(PB),January,2010,790,1283,1592,1460
3,ABOHAR(PB),January,2011,245,3067,3750,3433
4,ABOHAR(PB),January,2012,1035,523,686,605

In [44]:
df.describe()

,Year,Arrival (q),Price Minimum (Rs/q),Price Maximum (Rs/q),Modal Price (Rs/q)
count,10227.000000,10227.000000,10227.000000,10227.000000,10227.000000
mean,2009.022294,76604.880023,646.944363,1212.760731,984.284345
std,4.372841,124408.698759,673.121850,979.658874,818.471498
min,1996.000000,20.000000,16.000000,145.000000,80.000000
25%,2006.000000,8898.000000,209.000000,557.000000,448.000000
50%,2009.000000,27460.000000,440.000000,923.000000,747.000000
75%,2013.000000,88356.500000,828.000000,1527.000000,1248.000000
max,2016.000000,1639032.000000,6000.000000,8192.000000,6400.000000

In [46]:
df['Date'] = pd.datetime(df['Year'])

TypeError: cannot convert the series to <class 'int'>